.git
.gitignore

node_modules/
vendor/

.env
.env.*

storage/app/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

Dockerfile.backup-before-redis
*.log
bundle-report.html
public/build/
public/sitemap.xml
